[submodule ".dotfiles-vim"]
	path = .dotfiles-vim
	url = https://github.com/danielnehrig/.dotfiles-vim
  branch = vundle
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
