fonts
wallpapers
.gdb_history
yay
.zsh/tokens.zsh
.DS_STORE
SourceCodeProAwesome.ttf
polybar-powerline
lua-language-server
**/speedlog
.config/nvim/plugin/packer_compiled.vim
.config/kak/plugins
.config/kak/colors
depend
installed
*.swp
