[submodule ".dotfiles-vim"]
	path = .dotfiles-vim
	url = https://github.com/inet-pwnZ/.dotfiles-vim
  branch = vundle
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "powerlevel9k"]
	path = powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
